@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('../font/fonts/eot/iranyekanwebbold.eot');
    src: url('../font/fonts/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../font/fonts/woff2/iranyekanwebbold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../font/fonts/woff/iranyekanwebbold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font/fonts/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('../font/fonts/eot/iranyekanweblight.eot');
    src: url('../font/fonts/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../font/fonts/woff2/iranyekanweblight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../font/fonts/woff/iranyekanweblight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font/fonts/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('../font/fonts/eot/iranyekanwebregular.eot');
    src: url('../font/fonts/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../font/fonts/woff2/iranyekanwebregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../font/fonts/woff/iranyekanwebregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font/fonts/ttf/iranyekanwebregular.ttf') format('truetype');
}


/* Latin fonts (Roboto) */

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    src: url('../font/fonts/eot/robotobold.eot');
    src: url('../font/fonts/eot/robotobold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../font/fonts/woff2/robotobold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../font/fonts/woff/robotobold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font/fonts/ttf/robotobold.ttf') format('truetype');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    src: url('../font/fonts/eot/robotolight.eot');
    src: url('../font/fonts/eot/robotolight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../font/fonts/woff2/robotolight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../font/fonts/woff/robotolight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font/fonts/ttf/robotolight.ttf') format('truetype');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    src: url('../font/fonts/eot/robotoregular.eot');
    src: url('../font/fonts/eot/robotoregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../font/fonts/woff2/robotoregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../font/fonts/woff/robotoregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font/fonts/ttf/robotoregular.ttf') format('truetype');
}

@font-face {
    font-family: BYekan;
    font-style: normal;
    font-weight: bold;
    src: url('../font/fonts/BYekan.eot');
    src: url('../font/fonts/BYekan.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../font/fonts/BYekan.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font/fonts/BYekan.ttf') format('truetype');
}

@font-face {
    font-family: Rezvan;
    font-style: normal;
    font-weight: bold;
    src: url('../font/fonts/Rezvan.eot');
    src: url('../font/fonts/Rezvan.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../font/fonts/Rezvan.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../font/fonts/Rezvan.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font/fonts/Rezvan.ttf') format('truetype');
}

@font-face {
    font-family: BKoodakBold;
    font-style: normal;
    font-weight: bold;
    src: url('../font/fonts/BKoodakBold.eot');
    src: url('../font/fonts/BKoodakBold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../font/fonts/BKoodakBold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../font/fonts/BKoodakBold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font/fonts/BKoodakBold.ttf') format('truetype');
}

.byekan {
    font-family: BYekan!important;
}

.iranyekan {
    font-family: iranyekan!important;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: iranyekan!important;
}

p,
div,
li,
h1 {
    font-family: iranyekan!important;
}

input {
    font-family: iranyekan!important;
}

select {
    font-family: iranyekan!important;
    font-weight: 600!important;
}
.btn {
    font-family: iranyekan!important;
}
.tt-btn-addtocart {
    font-family: iranyekan!important;
}
.tt-desktop-header{
  background: #f7f8fa;
}
.dropdown{
  font-family: iranyekan!important;
}
.nav-link{
  font-family: iranyekan!important;
}
.btn-link{
  font-family: iranyekan!important;
}
