.btn {
    font-family: iranyekan!important;
    border: none !important;
    color: #fff !important;
    font-size: 14px !important;
    line-height: 1 !important;
    font-weight: 400 !important;
    letter-spacing: .03em !important;
    position: relative !important;
    outline: 0 !important;
    padding: 6px 31px 4px !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    height: 40px !important;
    cursor: pointer !important;
    border-radius: 6px !important;
    transition: color .2s linear, background-color .2s linear !important;
}
.tt-btn-addtocart {


    background-color: #2879fe!important;
    color: #fff!important;
    padding: 3px 16px 9px!important;
    border-radius: 6px!important;
    transition: .2s linear!important;
}
