.tt-desctop-menu {
    display: block !important;
}

.dropdown-menu {
    width: 160px !important;
    display: none !important;
}

.dropdown-submenu {
    position: relative;
width: 91% !important;
}

.dropdown-submenu>.dropdown-menu {
    top: -33px !important;
    width: 160px !important;
    right: 72% !important;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block !important;
}

.dropdown:hover>.dropdown-menu {
    display: block !important;
}

.dropdown-submenu.pull-left {
    float: none;
}

.toast-message {
    font-size: 20px;
}

.btn {
    font-family: iranyekan !important;
    border: none !important;
    color: #fff !important;
    font-size: 14px !important;
    line-height: 1 !important;
    font-weight: 400 !important;
    letter-spacing: .03em !important;
    position: relative !important;
    outline: 0 !important;
    padding: 6px 31px 4px !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    height: 40px !important;
    cursor: pointer !important;
    border-radius: 6px !important;
    transition: color .2s linear, background-color .2s linear !important;
}

.tt-btn-addtocart {
    background-color: #2879fe !important;
    color: #fff !important;
    padding: 3px 16px 9px !important;
    border-radius: 6px !important;
    transition: .2s linear !important;
}

.justify-content-md-center .tt-desctop-menu nav>ul,
.tt-obj-menu.obj-aligment-center .tt-desctop-menu nav>ul {
    justify-content: flex-start;
}
.opacity-lost {
    opacity: 0.4 !important;
}

.tt-dropdown-inner > ul > li:first-child {
    position: relative;
    left: 13px;
}
.tt-dropdown-inner > ul > li:nth-child(2) {
  position: relative;
left: 16px;
}


@media only screen and (max-width: 1024px) {
.tt-dropdown-inner > ul > li:first-child {
    left: 10px!important;
}
.tt-dropdown-inner > ul > li:nth-child(4) {
  position: relative;
  right: 9px!important;
}
.tt-dropdown-inner > ul > li:nth-child(2) {
  position: relative;
  left: -2px;
}

}
