#input-tags_tagsinput {
    width: 83% !important;
    height: 50px !important;
    min-height: 50px !important;
    font-size: 13px;
    border: 1px solid #e8ebf3;
    height: calc(2.3rem + 2px);
    color: #2f5275;
}

#input-tags_addTag {
    float: right !important;
}
#input-tags1_tagsinput {
    width: 83% !important;
    height: 50px !important;
    min-height: 50px !important;
    font-size: 13px;
    border: 1px solid #e8ebf3;
    height: calc(2.3rem + 2px);
    color: #2f5275;
}

#input-tags1_addTag {
    float: right !important;
}
#input-tags2_tagsinput {
    width: 83% !important;
    height: 50px !important;
    min-height: 50px !important;
    font-size: 13px;
    border: 1px solid #e8ebf3;
    height: calc(2.3rem + 2px);
    color: #2f5275;
}

#input-tags2_addTag {
    float: right !important;
}

.amount-warning {

    animation: amount-warning 3s linear infinite;
  }

  @keyframes amount-warning {
    50% {
      background-color: #FD9D9E;
    }
}
