.title-text,
.header-title {
    font-size: 20px!important;
}

.product-img {
    width: 80px!important;
}

.f-10 {
    font-size: 12px!important;
}

.f-19 {
    font-size: 19px!important;
}

.border-muted {
    border: 2px solid #E5E5E5;
}

::placeholder {
    color: #bbc3ce!important;
    font-family: iranyekan!important;
    font-size: 13px;
}

.comming-soon {
    pointer-events: none;
    opacity: 0.4;
}

.f-em5 {
    font-size: 5em;
}

.f-em1-5 {
    font-size: 1.5em;
}

.inputfield {
    height: 50px;
}

.min-width-140 {
    min-width: 140px;
}

.modal-scroll {
    overflow-y: auto;
    max-height: 80vh;
}

.h-280px {
    height: 280px!important;
}

.h-50px {
    height: 50px;
}

.color-picker {
    width: 28px;
    height: 28px;
    border-radius: 100px;
}

.min-height-160 {
    min-height: 160px;
}

.menu-shop {
    font-size: 17px!important;
    color: #50649c!important;
}

.font-3em {
    font-size: 3em;
}

.min-height-50vh {
    min-height: 50vh;
}

.max-height-85vh {
    height: 110vh;
}

.height-20vh {
    height: 20vh;
}

.bottom-buyCount {
    bottom: 58%;
}

.top-fixed {
    left: 10px;
    position: fixed;
    top: 10px;
    z-index: 999;
}

.mr-16 {
    margin-right: 16%;
}