.title-text,
.header-title {
    font-size: 20px!important;
}

.product-img {
    width: 80px!important;
}

.f-10 {
    font-size: 12px!important;
}

.f-19 {
    font-size: 19px!important;
}

.border-muted {
    border: 2px solid #E5E5E5;
}

::placeholder {
    color: #bbc3ce!important;
    font-family: iranyekan!important;
    font-size: 13px;
}

.comming-soon {
    pointer-events: none;
    opacity: 0.4;
}

.f-em5 {
    font-size: 5em;
}

.f-em1-5 {
    font-size: 1.5em;
}

.inputfield {
    height: 50px;
}

.min-width-140 {
    min-width: 100%!important;
}

.min-width-180 {
    min-width: 180px;
}

.modal-scroll {
    overflow-y: auto;
    max-height: 80vh;
}

.h-280px {
    height: 280px!important;
}

.h-50px {
    height: 50px;
}

.color-picker {
    width: 28px;
    height: 28px;
    border-radius: 100px;
}

.min-height-160 {
    min-height: 160px;
}

.menu-shop {
    font-size: 17px!important;
    color: #465f73!important;
}

.font-3em {
    font-size: 3em;
}

.min-height-50vh {
    min-height: 50vh;
}

.max-height-85vh {
    height: 110vh;
}

.height-20vh {
    height: 20vh;
}

.bottom-buyCount {
    bottom: 58%;
}

.top-fixed {
    left: 10px;
    position: fixed;
    top: 10px;
    z-index: 999;
}

@media only screen and (min-width: 780px) {
    .mr-16 {
        margin-right: 16%;
    }
}

.icon-hover {
    cursor: pointer;
}

.hover-color:hover {
    background-color: #fbfcff;
}

.icon-hover:hover .icon-show {
    display: inline-flex!important;
}

.main-icon-menu {
    overflow: scroll!important;
}

.dataTables_info {
    font-family: BYekan!important;
}

.custom-select {
    font-family: BYekan!important;
}

.page-link {
    font-family: BYekan!important;
}

h1 {
    overflow: hidden;
    text-align: center;
}

h2.line-throw {
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #989898;
    line-height: 0.1em;
    margin: 8px 11% 20px;
    font-size: 23px!important;
    box-shadow: 0 7px 8px 0 rgba(0,0,0,.04);
}

h2 span {
    background: white;
    padding: 0 17px;
}

.min-width-100-fix {
    min-width: 100%;
}

.h-25vh {
    height: 25vh;
}

.searchBox {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #2f3640;
    border-radius: 40px;
}

.searchBox:hover>.searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover>.searchButton {
    background: white;
    color: #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

@media screen and (max-width: 620px) {
    .searchBox:hover>.searchInput {
        width: 150px;
        padding: 0 6px;
    }
    .f-18px {
        font-size: 18px;
    }
}
.bg-dark-top{
  background-color: #2c373b!important;
}
.card{
  background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    border: 1px solid #e4e4e4;
}
.shadow-header{
  box-shadow: 0 7px 8px 0 rgba(0,0,0,.08);
}
.main-bg-color{
    background-color: white!important;
}
.bg-blue-omid{
  background-color: #15939D!important;
}
.bg-orange-omid{
  background-color: #F68712!important;
}
.bg-orange-rock{
      background: linear-gradient(180deg,#fdc830,#f37335);
}
.bg-red-rock{
      background: linear-gradient(180deg,#ff416c,#ff4b2b);
}
.bg-green-rock{
    background: linear-gradient(0deg,#348f50,#56b4d3);
  }
.bg-blue-rock{
      background: linear-gradient(180deg,#3a7bd5,#3a6073);
}
.bg-blue-rock::before{
  background-position: 50%;
    -webkit-background-size: 600px 600px;
    -moz-background-size: 600px;
    background-size: 600px;
    background-image: url(/app/images/icon-background.png);
    position: absolute;
    display: block;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 12em;
    content: "";
    opacity: .05;
    pointer-events: none;
}
.bg-green-rock::before{
  background-position: 50%;
    -webkit-background-size: 600px 600px;
    -moz-background-size: 600px;
    background-size: 600px;
    background-image: url(/app/images/icon-background.png);
    position: absolute;
    display: block;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 12em;
    content: "";
    opacity: .05;
    pointer-events: none;
}
.bg-red-rock::before{
  background-position: 50%;
    -webkit-background-size: 600px 600px;
    -moz-background-size: 600px;
    background-size: 600px;
    background-image: url(/app/images/icon-background.png);
    position: absolute;
    display: block;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 12em;
    content: "";
    opacity: .05;
    pointer-events: none;
}
.bg-orange-rock::before{
  background-position: 50%;
    -webkit-background-size: 600px 600px;
    -moz-background-size: 600px;
    background-size: 600px;
    background-image: url(/app/images/icon-background.png);
    position: absolute;
    display: block;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 12em;
    content: "";
    opacity: .05;
    pointer-events: none;
}
.border-btm{
  padding-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;

}
.font-weight-500{
  font-weight: 500;
}
.border-top-down-radius-0{
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}
.min-height-60{
  min-height: 30vh!important;
}
@media screen and (max-width: 545px) {
  .line-height-none{
    line-height: 2em!important;
  }
}
.color-blue{
  color: #15939D!important;
}
@media print {
     .d-none-print{
       display: none;
     }
     .print-big{
       max-width: 100%!important;
     }
     .printable{
       display: flex!important;
     }
  }
.border-omid-orange{
  border-bottom-color: #F68712!important;
}
.w-70{
  width: 70%!important;
}
.dark-text-color{
  color: #7d7d7d!important;
}
.light-dark-text-color{
  color: #6b6b6b!important;
}
